.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*

* { - общие стили для всех элементов

}

p { - только для определенных тегов

}

.class { - только тегам у которых есть этот класс

}

# id { - только тегам у которых есть этот id

}

:hover :: - псевдо -классы -селекторы

style={{}} - inline-стили

.class {
  color: red !important; - перекрывает любую специфичность

}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ширина элемента = внутренний контент + padding + border */
  /* content-box ширина элемента = внутренний контент*/
}

button {
  color: #282c34;
}

label {
  color: #282c34;
}

p {
  color: #282c34;
}

/* Глобальные переменные css для цветов, шрифтов и отсупов */
:root {
 --primary-color: #3b3ee0;
 --secondary-color: #4b399b;
 --text-color: #000;
 --white-color: #fff;

 --font-size-small: 14px;
}

button {
  background-color: var(--primary-color);
}

/*
1. Модульный css
import styles from './Test1.modele.css'

<div className={styles.test}></div>

2. Tailwind
<div classNames="bg-gray-400 px-6 font-semibold"></div>

3. Препроцессоры (Sass/Scss)

// Scss
.test {
  color: red;
}

// Sass
.test
  color: red
  font-size: 14px


4. Styled components (CSS-in-JS)

import styled from 'styled-components';

export const Button = styled.button`
    color: red;
    background-color: white; 
    font-size: fontSize;
`;

<Button>Привет, я кнопка</Button>

*/